h1{
    font-size: 8vw;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: 0 1fr 0;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-areas:
        "kakao_adfit1 kakao_adfit1 kakao_adfit1"
        ". . ."
        ". wage ."
        ". . ."
        "kakao_adfit2 kakao_adfit2 kakao_adfit2"
}

#wage{
    grid-area: wage;
    position: relative;
    text-align: center;
    padding: 1vh 2vw;
}

.kakao_adfit1{
    grid-area: kakao_adfit1;
    
}

.kakao_adfit2{
    grid-area: kakao_adfit2;
    
}

#won{
    font-family: Gothic A1;
    font-size: 0.8em;
}

.mywage{
    font-family: Hahmlet;
    color: black;
    text-shadow: 0.2vw 0.2vw 0.2vw gray;
}

.now{
    font-family: Hahmlet;
    font-size: 3vw;
}

.ad-comment{
    font-family: Hahmlet;
    font-size: 10px;
    font-weight: bold;
    color: palevioletred;
}

